<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /StockFlow/
    
    # Si le fichier ou dossier demandé n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rediriger vers index.php avec l'URI en paramètre
    RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]
</IfModule>