<footer>
    <p>
      © 2025 - Stockflow | 
      <a href="{{ url('mentionsLegales', 'mentions') }}" 
         class="footer-btn">Mentions légales</a> | 
      <a href="{{ url('mentionsLegales', 'conditions') }}" 
         class="footer-btn">Conditions générales</a> | 
      <a href="{{ url('mentionsLegales', 'confidentialite') }}" 
         class="footer-btn">Politique de confidentialité</a> | 
      Contact : contact@stockflow.com
    </p>
  </footer>
  