{% extends "layout/base.twig" %}

{% block title %}Réinitialisation de mot de passe - StockFlow{% endblock %}

{% block content %}
<div class="reset-password-container">
    <div class="reset-card">
        <div class="reset-icon">
            <i class="fas fa-lock"></i>
        </div>
        <h2>Réinitialisation de mot de passe</h2>
        
        <div class="reset-message">
            <p>Pour des raisons de sécurité, veuillez contacter votre administrateur pour réinitialiser votre mot de passe.</p>
        </div>
        
        <div class="reset-action">
            <a href="mailto:contact@stockflow.com" class="btn btn-primary">
                <i class="fas fa-envelope"></i> Contacter l'administrateur
            </a>
        </div>
        
        <div class="reset-back-link">
            <a href="{{ url('home', 'index') }}">
                <i class="fas fa-arrow-left"></i> Retour à l'accueil
            </a>
        </div>
    </div>
</div>
{% endblock %}